.well-known
old/
wp-includes/
wp-admin/
includes/
.idea/
*.zip
*.png
*.svg
*.jpg
*.jpeg
*.log
!wp-content/themes/evotor/logo.png
!wp-content/themes/evotor/screenshot.png
!wp-content/themes/evotor/ZHIZA_FB.png
!wp-content/themes/evotor/ZHIZA_Odnoklassniki.png
!wp-content/themes/evotor/ZHIZA_tg_wa.jpg
!wp-content/themes/evotor/ZHIZA_Viber.png
!wp-content/themes/evotor/ZHIZA_VK.png
cache/
wp-content/uploads/
/wp-content/plugins/
/wp-content/languages/
/wp-content/updraft/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentytwenty/
/wp-content/themes/evotor/dist
*.log.*
logs/
node_modules/
*.map
wp-content/themes/evotor/js/index.js
*.Identifier
.run/
wp-config.php
wp-content/themes/evotor/categories.txt
wp-content/db.php

wp-content/smush-webp
wp-content/wp-cache-config.php
wp-content/ewww
!wp-content/themes/evotor/images/front-page/*
!wp-content/themes/evotor/assets/images/*
