.search-panel {
  margin-top: -24px;
  padding-top: 0;
  padding-bottom: 0;

  .relative {
    position: relative;
  }

  input[type='search'] {
    height: 48px;
    width: 100%;
    padding: 13px 125px 13px 24px;
    border: 0;
    outline: none 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    @include respond-below(xs) {
      padding-left: 8px;
    }

    &::placeholder {
      color: var(--placeholder-color);
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
    }
    // Скрыть крестик очистки строки
    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  input[type='submit'] {
    position: relative;
    height: 40px;
    width: 97px;
    background-color: var(--orange);
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Graphik Semibold, sans-serif;
    bottom: 0;
    right: 0;
    @include transition(all);
  }

  .wrap {
    position: absolute;
    top: 3px;
    right: 4px;
  }
  .input-wrapper {
    border: 1px solid transparent;
    @include transition(all);
    &:hover, &:active, &:focus {
      border: 1px solid var(--orange);
      input {
        bottom: 2px;
        right: 2px;
      }
    }
  }
}
