//Блоки с отбивкой

.featured {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    height: 98%;
    width: 3px;
    top: 1%;
    left: 0;
    background-color: $orange;
    border-radius: 6px;
  }

  @media #{$mq-desktop} {
    &--text-content {
      &::before {
        left: 110px;
      }
    }
  }
}

//Врезка по центру на всю ширину

.big-insert {
  position: relative;
  padding-top: 20px;
  padding-bottom: 28px;
  margin: 0 110px 45px;
  font-family: $serif-italic;
  font-size: 40px;
  line-height: 54px;
  text-align: center;

  @media #{$mq-mobile} {
    margin: 0px 40px 45px;
    font-size: 30px;
    line-height: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 90px;
    margin-left: -45px;
    top: 0;
    left: 50%;
    background-color: $orange;
    border-radius: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 90px;
    margin-left: -45px;
    bottom: 0;
    left: 50%;
    background-color: $orange;
    border-radius: 6px;
  }
}

// Нумерованный и ненумерованный списки
.list-new {
  @include article-content;
  list-style-position: inside;
  position: relative;
  font-family: $serif;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;

  @media #{$mq-mobile} {
    font-size: 20px;
    line-height: 29px;
  }

  &--unordered {
    list-style: none;
    padding-left: 40px;
  }

  &--ordered {
    margin-bottom: 36px;
  }

  &__item {
    margin-bottom: 20px;

    &--unordered::before {
      content: "—";
      position: relative;
      left: -6px;

      .list-new--clear & {
        color:transparent;
      }
    }
  }

  &__image {
    margin-top: 20px;
    max-width: 100%;
  }
}

//Кнопка SOS
.app-aside {
  position: relative;
  &__wrap {
    @include aside-text;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -50px;
    max-width: 260px;

    @media #{$mq-tablet-max} {
      position: static;
    }
  }

  &__img {
    width: 200px;
    height: 200px;
  }

  &__btn {
    margin: 20px 0 10px;
  }

  & > h2 {
    color: $orange;
  }
}
